*
{
	// font-size: 16px;
}
body 
{
	background: #59584F;
}
section
{
	background: rgba(255, 255, 255, .6);
	box-sizing: border-box;
	font-size: .9em;
	float: left;
	margin: 1%;
	padding: 1em;
}
img 
{
	max-width: 100%;
}
@media (min-width: 360px)
{
	body
	{
		background: #E9502A;
	}
	section
	{
		width: 48%;//dos columnas= 100/2 = 50 - 2(margin)= 48...
	}
}

@media (min-width: 768px)
{
	body
	{
		background: #D3B66E;
	}
	section
	{
		width: 31.33%;//3 columnas= 100/3 = 33,33 - 2(margin)= 31,33...
	}
}

@media (min-width: 1000px)
{
	body
	{
		background: #C7D5BD;
	}
	section
	{
		width: 23%;//4 columnas= 100/4 = 25 - 2(margin)= 23...
	}
}
ul
{
	clear: both;
}
ul li
{	
	font-size: 1.2em;
}
