*
{
    border: 0;
    margin: 0;
    padding: 0;
}
body
{
    background: #000019;
    font-family: helvetica;
    font-size: 16px;
    color: white;
    text-align: center;
}
fieldset
{
    background: black;
    border: thin solid skyblue;
    border-radius: 1em;
    padding: 1em;
}
form
{
    margin: 1em auto;
    width: 70%;
}
input[type="button"]
{
    background: orange;
    border: thin solid transparent;
    border-radius: .5em;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: .5em;
    
}
input[type="button"]:hover
{
    background: skyblue;
    border: thin solid orange;
    border-radius: 0em;
    color: white; 
}
input[type="radio"],label
{
    cursor: pointer;
}
input[type="text"], textarea
{
    background: #DDD;
    border: thin solid white;
    border-radius: 1em;
    color: #f60;
    font-size: .8em;
    padding: .25em;
}
input[type="text"]:focus, textarea:focus
{
    background: skyblue;
}
textarea
{
  resize: none;  
}
legend
{
    color: orange;
    font-size: 2em;
    font-weight: bold;
}
.cambio
{
    transition: all 1s ease-in-out;
}
 :focus
{
    box-shadow: .2em .1em .5em rgba(255,100,0,.5);
    outline: thick orange;
} 