<script type="text/javascript">
	/*$(function()
	{
		var tabla= $('table#alumnos tbody');
		var	filas= '';
		var mensaje= '';
		$.ajax(
		{
			url: 'controladores/controlAlumnos.php', 
			type: 'POST',
			datatype: 'JSON',
			data: {op:2},
			beforeSend: function ()
			{
				$('#mensaje').children().remove();
				$('#mensaje').append('<p>Consultando informacion</p>');
			},
			success: function(data)
			{
				if (data) 
				{
					tabla.children().remove();
					$.each(data, function(i)
					{
						filas += '<tr><td>'+data[i].nombre+'</td><td>'+data[i].cedula+'</td><td>'+data[i].mail+'</td><td>'+data[i].edad+'</td></tr>';
					});
				}
				else mensaje= '<p>algo salio mal</p>';
			},
			error: function()
			{
				mensaje='<p>tenemos problemas</p>';
			},
			complete: function()
			{

				$('#mensaje').children().remove();
				$('#mensaje').append(mensaje);
			}
		});
	});*/
</script>
<section>
	<h2>Alumnos registrados</h2>
	<table border="1" id="alumnos">
		<thead>
			<td>Nombre</td>
			<td>Cedula</td>
			<td>Correo electronico</td>
			<td>Edad</td>
			<td>Acciones</td>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	<h1>Mensajes:</h1>
	<section id="mensajes">
		

	</section>
</section>