<section>
	<h2>Nuevo alumno</h2>
	<form >
	    <div>
	        <label for="name">nombre</label>
	        <input type="text" id="nombre" />
	    </div>
	    <div>
	        <label for="cedula">Cedula</label>
	        <input type="text" id="cedula" />
	    </div>
	    <div>
	        <label for="mail">Correo electronico</label>
	        <input type="text" id="mail" />
	    </div>
	    <div>
	        <label for="msg">Edad</label>
	        <input type="text" id="edad"></input>
	    </div>
	</form>
	<button id="cargar">Subir datos</button>
	<article id="mensaje"></article>
</section>
