@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(menu.css);
@import url(banner.css);
@import url(personajes.css);
@import url(info.css);
*
{
	margin: 0;
	padding: 0;
	box-sizing:  border-box;
}
body 
{
	font-family: 'Montserrat', sans-serif;
}
h1
{
	padding-top: 4px;
}
h2,h3,p
{
	padding-top: 10px;
}
header
{
	width: 100%;
	height: 50px;
	background: #8C5236;
	color: #FFF;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.contenedor
{
	width: 98%;
	margin: auto;
}
h1
{
	font-size: 28px;
	float: left;
}
header .contenedor
{
	display: table;
}
section
{
	width: 100%;
	margin-buttom: 25px;
}
#bienvenidos
{
	text-align: center;
}
footer .contenedor
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}
.copy
{
	font-size: 20px;
}
.sociales
{
	width: 100%;
	text-align: center;
	font-size: 28px;
}
.sociales a 
{
	color: #333;
	text-decoration: none;
}
@media (min-width:768px)
{
	.sociales
	{
		width: auto;
	}
	footer .contenedor
	{
		justify-content: space-between;
	}
}
@media (min-width:1024px)
{
	.contenedor
	{
		width: 1000px;
	}
	
}