#info
{
	background: #333;
	color: #fff;
	text-align: center;
}
#info .contenedor
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.info-cat
{
	margin: 20px;
}
.info-cat img
{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}
@media (min-width: 480px)
{
	.info-cat
	{
		width: 40%;
	}
}
@media (min-width: 1024px)
{
	.info-cat
	{
		width: auto;
	}
}